body {
  background: linear-gradient(0deg, #d98324, #a40606);
}
h1 {
  color: rgb(243, 198, 0);
  text-align: center;
  padding: 40px;
}
.slider {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.slider > img {
  scroll-snap-align: start;
}
.slider img {
  height: 200px;
  width: auto;
  object-fit: contain;
  border-radius: 10px;
}
.slider::-webkit-scrollbar {
  display: none;
}
